@media only screen and (max-width: 600px) {
    /* header {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    } */
body {
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}
    .container {
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            /* "header header header header header" */
            "featured"
            "main"
            "aside"
            "footer"
        ;
        
    }
    header,
    .featured,
    main,
    aside {
        margin-bottom: 2rem;
    }
    header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "logo company company"
            "logo nav nav"
            "logo nav nav";
        width: 100vw;
    }

    .logobox {
        grid-area: logo;
    }

    .logobox img {
        width: 70px;
    
    }
    
    .company_name {
        grid-area: company;
    }

    .company_name img {
        width: 150px;
    }
    
    nav {
        grid-area: nav;
        justify-self: start;
        margin-top: 1rem;
    }

    nav a {
        margin: 0 1rem 0 0;
    }

    .featured {
        width: 100vw;
    }

    main {
        width: 100vw;
    }

    .new-apartments {
        flex-direction: column;
    }

    .new-apartment {
        width: 60%;
        margin: 1rem auto;
    }

    aside {
        width: 100vw;
    }

    .listings {
        width: 80%;
        margin: 0 auto 2rem auto;
    }

    footer {
        width: 100vw;
    }
}